.with-ser {
    font-family: 'Times New Roman', Times, serif;
  }
  .san-ser {
    font-family: Arial, Helvetica, sans-serif;
  }
  .with-ser,
  .san-ser {
    background-color: rgb(165, 117, 117);
    padding: 10px;
  }